div{

  color: rgb(0, 0, 0);
    height: 150px;
    padding: 30px;
    border-color: red black;
    border-width: 5px;
    border-style: solid;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
 
h1 {
    color: blue;
  font-size: 10px;
 }
h2 {
    color: blue;
  font-size: 20px;
}
h4 {
    color: rgb(0, 0, 0);
  font-size: 30px;
  align-items: center;
  text-align: center;
}
p {
  color: rgb(0, 0, 0);
  font-size: 10px;
}
a{
    color: blue;
    font-style: 15;
    
}
img{
    width: 400px
}
#thirdDiv{
    color: rgb(255, 251, 0);
    height: 600px;
    padding: 50px;
    border-color: red black;
    border-width: 10px;
    border-style: solid;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#spanId{
    font-size: 18px;
    margin: 50;   
}

#ejerciciotres{
  display: block;
  position: absolute;
  top: 100;
  left: 200;
}